body {
    background-color: #f7e1b2;
    font-family: 'Karla', sans-serif;
}

h1 {
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Rubik', sans-serif;
}

#not-devoured-burgers {
    text-align: center;
    float: left;
    width: 32.8%;
    padding: 0 1%;
    margin: 0 5% 0 10%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 20px;
}

#devoured-burgers {
    text-align: center;
    float: left;
    width: 32.8%;
    margin: 0 10% 0 5%;
    padding: 0 1%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 20px;
}

#add-burger {
    margin: auto;
    width: 250px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 0px 10px 10px;
    margin-bottom: 30px;
    text-align: center;
}

#add-burger button {
    margin-top: 10px;
    background-color: linen;
    height: 30px;
}

.burgers {
    overflow-y: auto;
    height: 300px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.burger-item {
    padding: 5px 0;
    width: 100%;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    margin-bottom: 5px;
}

.change-devour {
    border: none;
    background-color: lightgray;
    height: 20px;
    margin-left: 10px;
}

@media screen and (max-width: 1002px) {
    #not-devoured-burgers {
        margin: 0 2% 0 5%;
        width: 40%;
    }
    #devoured-burgers {
        margin: 0 5% 0 2%;
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    #not-devoured-burgers,
    #devoured-burgers {
        margin: 0 10% 5%;
        width: 79.5%;
    }
}