<li class="burger-item">
	{{dataValues.id}}. 
	{{dataValues.burger_name}}
    {{#unless dataValues.devoured}}
	<button class="change-devour" data-id="{{dataValues.id}}">
		Eat it.
	</button>
    {{/unless}}
</li>
